<section class="hero py-16">
    <div class="container mx-auto flex items-center  justify-between">
        <div class="w-1/2">
            <h6 class="text-2xl"><em>Hey!</em></h6>
            <h1 class="text-xl md:text-4xl  font-bold">Welcome to the world of burgers!</h1>
            <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary ">Order Now</button>
        </div>
        <div class="w-1/2 flex items-center justify-center">
            <img src="img1/Burger1.png" alt="">
        </div>
    </div>
</section>
<section class="menu container mx-auto py-8 overflow-x-auto">
    <h1 class=" text-2xl md:text-5xl heading font-bold mb-8 text-center">Menu</h1>
    <h1 class=" text-xl md:hidden  heading font-bold mb-8 text-center">Burger</h1>  
    <% Burgers.forEach(function(burger){ %>
                
        <% if(burger.category === "burger") {%>
    <!-- For Mobile------------------------------------------------------- -->
      <div class=" md:hidden flex items-center justify-around border-orange-700 border rounded-lg mb-3 ">
        <!-- <img class="h-10 mb-4 mx-auto" src="/img/<%= burger.image %>" alt=""> -->
        <div class="flex flex-col items-center w-1/2 ">
            <h2 class="mb-2 text-base text-center"><%= burger.name %></h2>
            <span class="size mb-1 px-4 rounded-full uppercase text-xs "><%= burger.type %></span>  
        </div>
        <div class="w-1/4">
            <span class="font-bold text-base">₹<%= burger.price %></span>
        </div>
        <div class="w-1/4">
            <button data-burger = "<%= JSON.stringify(burger) %>" class="add-to-cart  px-3 rounded-full flex items-center font-bold">
                <span>+</span>
                <span class="ml-4">Add</span>
            </button>
        </div>
      </div>
            <%  }%>  
      <%   }) %>

      <h1 class=" text-xl md:hidden  heading font-bold mb-8 text-center">Shakes</h1>  
    <% Burgers.forEach(function(burger){ %>
                
        <% if(burger.category === "shake") {%>
    
      <div class=" md:hidden flex items-center justify-around border-orange-700 border rounded-lg mb-3 py-2 ">
        <div class="flex flex-col items-center w-1/2 ">
            <h2 class="mb-2 text-base text-center"><%= burger.name %></h2>
            <span class="size mb-1 px-4 rounded-full uppercase text-xs "><%= burger.type %></span>  
        </div>
        <div class="w-1/4">
            <span class="font-bold text-base">₹<%= burger.price %></span>
        </div>
        <div class="w-1/4">
            <button data-burger = "<%= JSON.stringify(burger) %>" class="add-to-cart  px-3 rounded-full flex items-center font-bold">
                <span>+</span>
                <span class="ml-4">Add</span>
            </button>
        </div>
      </div>
      <%  }%>  
      <%   }) %>
      <h1 class=" text-xl md:hidden  heading font-bold mb-8 text-center">Sides</h1>  
      <% Burgers.forEach(function(burger){ %>
                  
          <% if(burger.category === "Sides") {%>
      
        <div class=" md:hidden flex items-center justify-around border-orange-700 border rounded-lg mb-3 py-2 ">
          <div class="flex flex-col items-center w-1/2 ">
              <h2 class="mb-2 text-base text-center"><%= burger.name %></h2>
              <span class="size mb-1 px-4 rounded-full uppercase text-xs "><%= burger.type %></span>  
          </div>
          <div class="w-1/4">
              <span class="font-bold text-base">₹<%= burger.price %></span>
          </div>
          <div class="w-1/4">
              <button data-burger = "<%= JSON.stringify(burger) %>" class="add-to-cart  px-3 rounded-full flex items-center font-bold">
                  <span>+</span>
                  <span class="ml-4">Add</span>
              </button>
          </div>
        </div>
        <%  }%>  
        <%   }) %>
  
  

    <!-- ------------------------------------------------------------------------------------------------------------------------- -->
    <!-- For tab and above -->
 
    
        <div class="hidden md:flex md:flex-col md:flex-row items-center flex-wrap justify-around gap-2  ">
            
            <h1 class=" text-2xl -md:text-5xl heading font-bold mb-8 text-center">Burger</h1>
            <div class="flex items-center flex-wrap gap-2 justify-between">
            <% Burgers.forEach(function(burger){ %>
                
                
                <% if(burger.category === "burger") {%>
                    
                   
                     <div class=" border border-orange-800  w-9/12 md:w-64 p-2  mb-3 max-w-sm bg-white rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
                         
                         
                         <div class="text-center">
                            <img class="h-40 mb-4 mx-auto" src="/img/<%= burger.image %>" alt="">
                             <h2 class="mb-4 text-lg"><%= burger.name %></h2>
                             <span class="size py-1 px-4 rounded-full uppercase text-xs "><%= burger.type %></span>
                             <div class="flex items-center justify-around mt-6">
                                 <span class="font-bold text-lg">₹<%= burger.price%></span>
                                 <button data-burger = '<%= JSON.stringify(burger) %>'' class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                                     <span>+</span>
                                     <span class="ml-4">Add</span>
                                 </button>
                             </div>
                         </div>
                     </div>
               <%  }%>


           
    <%   }) %>
</div>
    
    <h1 class=" text-2xl md:text-5xl heading font-bold mb-8 text-center">Shakes</h1>

    <div class="flex items-center flex-wrap gap-4 justify-between" >
    <% Burgers.forEach(function(burger){ %>
        <% if(burger.category === "shake") {%>
                
                
            
           
             <div class=" border border-orange-800  w-9/12 md:w-64 p-2  mb-3 max-w-sm bg-white gap-2 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
                 
                 
                 <div class="text-center">
                    <img class="h-40 mb-4 mx-auto" src="/img/<%= burger.image %>" alt="">
                     <h2 class="mb-4 text-lg"><%= burger.name %></h2>
                     <!-- <span class="size py-1 px-4 rounded-full uppercase text-xs "><%= burger.type %></span> -->
                     <div class="flex items-center g justify-around mt-6">
                         <span class="font-bold text-lg">₹<%= burger.price%></span>
                         <button data-burger = '<%= JSON.stringify(burger) %>'' class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                             <span>+</span>
                             <span class="ml-4">Add</span>
                         </button>
                     </div>
                 </div>
             </div>
             
             
             <%  }%>
             <%   }) %>
            </div>

            <h1 class=" text-2xl md:text-5xl heading font-bold mb-8 text-center">Sides</h1>

    <div class="flex items-center flex-wrap gap-4 justify-between" >
    <% Burgers.forEach(function(burger){ %>
        <% if(burger.category === "Sides") {%>
                
                
            
           
             <div class=" border border-orange-800  w-9/12 md:w-64 p-2  mb-3 max-w-sm bg-white gap-2 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
                 
                 
                 <div class="text-center">
                    <img class="h-40 mb-4 mx-auto" src="/img/<%= burger.image %>" alt="">
                     <h2 class="mb-4 text-lg"><%= burger.name %></h2>
                     <!-- <span class="size py-1 px-4 rounded-full uppercase text-xs "><%= burger.type %></span> -->
                     <div class="flex items-center g justify-around mt-6">
                         <span class="font-bold text-lg">₹<%= burger.price%></span>
                         <button data-burger = '<%= JSON.stringify(burger) %>'' class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                             <span>+</span>
                             <span class="ml-4">Add</span>
                         </button>
                     </div>
                 </div>
             </div>
             
             
             <%  }%>
             <%   }) %>
            </div>
        
    </div>
</section>
<section class="Reach-Us py-5   px-40 ">
    <h1 class=" text-2xl md:text-5xl heading font-bold mb-8 text-center">Reach us</h1>
    <div class="flex  flex-col items-center md:flex-row gap-2">
    <div class="map-lg border border-red-500 md:w-1/2 hidden lg:block">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224686.91903773762!2d77.16664668992048!3d28.366917475733796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cdd0cce3e35a1%3A0x1eac071d1f816d37!2sThe%20Burger%20Nation!5e0!3m2!1sen!2sin!4v1656512012075!5m2!1sen!2sin"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-full h-full"></iframe>
    </div>
    <div class="lg:hidden">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224686.91903773762!2d77.16664668992048!3d28.366917475733796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cdd0cce3e35a1%3A0x1eac071d1f816d37!2sThe%20Burger%20Nation!5e0!3m2!1sen!2sin!4v1656512869805!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        
    </div>
    <div class="w-1/2">
       <address>SCO-57,FIRST FLOOR, OMAXE WORLD STREET,GREATER FARIDABAD,HARYANA(121005)</address>  
      
    </div>
</div>

</section>
